django>=4.1.10
sqlalchemy==1.4.28
sqlalchemy_utils==0.37.9
sqlahelper==1.0
psycopg2-binary==2.9.2
django_jsonforms==1.1.2
environs==9.3.5
gunicorn==22.0.0
python-gitlab==3.13.0
GitPython>=3.1.41
pyld==2.0.3
hermes==0.8.0
