{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Initial Form to get information from user and extract metadata -->
<div class="InitialFormContainer" id="firstpage">
  <h3 class="mainHeader">
    <a href="https://github.com/NFDI4Energy/SMECS" 
       target="_blank" 
       title="Open SMECS GitHub" 
       class="unstyled-link">
      SMECS
    </a>
  </h3>
  <p id="smecsSubtitle" title="SMECS"><b>S</b>oftware <b>M</b>etadata <b>E</b>xtraction and <b>C</b>uration <b>S</b>oftware</p>

  <form id="form1" method="post" action="{% url 'meta_creator:getdata' %}">
    {% csrf_token %}
    <h6 class="custom-tooltip">
      Project URL 
      <span class="tooltip-text">
        The GitHub repository URL
      </span>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </h6>
  
    <input type="url" id="url_input" name="gl_url" placeholder="e.g.: https://github.com/NFDI4Energy/SMECS" value="" />
    {% if error_message_url %}
      <span id="url_error" class="error_message">{{ error_message_url }}</span>
    {% endif %}
    <div class="tooltip-container">
    <h6 class="custom-tooltip">
      Token Key
      <span class="tooltip-text">
          To extract metadata from GitHub repositories token is not needed, 
          however, using one resolves rate limitations and allows for additional metadata extraction.
          <br>
          How to Generate a Token?
          <br>
          Visit <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens" target="_blank">Managing your personal access tokens</a>
      </span>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
  </h6>
    </div>
     <input type="text" id="token_input" name="personal_token_key" placeholder="(Optional) Enter your personal token key from GitHub or GitLab" value=""/>
    {% if error_message_token %}
      <span id="token_error" class="error_message">{{ error_message_token }}</span>
    {% endif %}
    <button id="submitBtn" class="ExData" type="submit" title="Run the Extraction process">Extract Metadata</button>
  </form>
</div>

<!-- Pop-up modal overlay for loading spinner -->
<div class="overlay" id="overlay">
  <div class="loading-spinner">
    <div class="spinner"></div>
    <p>Extracting...</p> 
  </div>
</div>

<script>
  document.getElementById('form1').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(document.getElementById('form1'));
      document.getElementById('overlay').classList.add('active');
      setTimeout(function() {
          document.getElementById('form1').submit();
      }, 2000);
  });
</script>
{% endblock content %}
