{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="info-page">
  <div class="info-header">
    <h3>What is SMECS ?</h3>
  </div>
  <div class="info-content"> 
    <p>Software Metadata Extraction and Curation Software or SMECS is a web application to extract and curate software metadata following the <a href="https://codemeta.github.io/">CodeMeta</a> <a href="https://raw.githubusercontent.com/codemeta/codemeta/3.0/codemeta.jsonld">version 3.0</a> software metadata standard.</p>
    <p>SMECS facilitates the extraction of research software metadata from GitHub and GitLab repositories. It provides a user-friendly graphical interface for visualizing the retrieved metadata, enabling researchers and research software engineers to create high-quality metadata without reentering information already available elsewhere. The curated metadata is exported as CodeMeta-compliant JSON, ensuring integration with other tools and enhancing the discoverability, reuse, and impact of research software.
    </p>
    <p>To get more information about this tool and to access the source code please visit <a href="https://github.com/NFDI4Energy/SMECS">SMECS GitHub</a></p>
  </div>
  <button class="TrySMECS" title="Enter a specific URL and extract metadata" onclick="window.location.href = '/'">Try SMECS</button>
</div>

{% endblock content %}
