{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="info-page" role="main">
    <div class="info-header">
        <h3>Legals/Impressum</h3>
    </div>
    <div class="info-content">
        <h4>Address:</h4>
        <address>
            OFFIS e. V.<br>
            Escherweg 2<br>
            26121 Oldenburg<br>
            Germany<br>
            Telefon: +49 441 9722-0<br>
            Fax: +49 441 9722-102<br>
            E-Mail: <a href="mailto:institut@offis.de">institut@offis.de</a><br>
            Internet: <a href="http://www.offis.de" target="_blank">www.offis.de</a>
        </address>

        <h4>Board Members</h4>
        <p>
            Prof. Dr. Sebastian Lehnhoff (Chairman)<br>
            Prof. Dr. techn. Susanne Boll-Westermann<br>
            Prof. Dr.-Ing. Andreas Hein<br>
            Prof. Dr.-Ing. Astrid Nie&szlig;e
        </p>

        <h4>Register Court</h4>
        <p>
            Amtsgericht Oldenburg<br>
            Registernummer VR 1956
        </p>

        <h4>VAT Identification Number</h4>
        <p>
            DE 811582102
        </p>

        <h4>Responsible in the sense of press law</h4>
        <address>
            Dr. J&uuml;rgen Meister<br>
            OFFIS e.V.<br>
            Escherweg 2<br>
            26121 Oldenburg
        </address>
    </div>
</div>

{% endblock content %}
